<div class="section section-about-intro">
  <div class="overlay-light-blue"></div>
  <div class="row text-center row-section-title">
    <div class="small-12 columns">
      <h1>About Butterfleye</h1>
    </div>
  </div>
</div>

<div class="section section-about section-page">
  <div class="row">
    <div class="columns small-centered small-10">
      <div class="small-12 columns vision">
        <h4>
          Our Vision
        </h4>
        <p>We are butterfleye, creators of beautiful, engaging experiences. We believe in freedom, love, and connection. That life's precious memories are fleeting and they should be captured candidly. Through simplicity and human centered design, we intelligently capture your memories and bring them to your finger tips so you can keep and share with loved ones.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 medium-6">

      <p style='text-align:center;'><%= image_tag 'about-ben.jpg' %></p>
      <a href="https://www.linkedin.com/profile/view?id=74142182&authType=OPENLINK&authToken=-qI5&locale=en_US&srchid=421886081400554923068&srchindex=1&srchtotal=19&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A421886081400554923068%2CVSRPtargetId%3A74142182%2CVSRPcmpt%3Aprimary" target="_blank">
        <h4 class="name">Ben Nader</h4>
      </a>
      <h5>CEO, Founder</h5>
      <p>Prior to founding Butterfleye, Ben was responsible for Video Product Line at Texas Instruments, focusing on broadcast and security and surveillance industries. He has held  software and hardware engineering roles at Maxim, Intel, and InFocus focusing on video, TV, Projector type products.</p>
    </div>
    <div class="columns medium-6 small-12">
      <p style='text-align:center;'><%= image_tag 'about-doug.jpg' %></p>
      <a href="https://www.linkedin.com/pub/douglas-schaller/5/541/273" target="_blank">
        <h4 class="name">Doug Schaller</h4>
      </a>
      <h5>Design Director</h5>
      <p>Industrial Designer by trade with a self-taught scientist DIY attitude that just comes naturally. Always fascinated with what’s cutting edge and loves to study design from years past. Spends his free time riding bikes, all of them.</p>
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-10">
      <div class="small-12 columns vision">
        <h4>Rest of the team</h4>
        <p>The rest of the team includes industry leading individuals with experience in hardware and software product development, sales, marketing and retail. In particular team has background developing video cameras and other technology leading consumer electronics devices. Our team has previously worked at Texas Instruments, FlipVideo, Frog Design, Dolby Labs, Legrand, Apple, Pivotal Labs, etc..</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-centered small-10">
      <div class="small-12 columns vision">
        <h4>Contact</h4>
        <p>For inquiries about partnerships, distribution, investment,manufacturing, employment, and all other inquiries; contact us at Info@butterfleye.co.</p>

        <p><strong>Press Contact:</strong></p>
        <p>LMGPR<br />
        Donna Loughlin Michaels<br />
        408-393-5575<br />
        <a href="mailto:info@lmgpr.com">Info@LMGPR.com</a></p>
      </div>
    </div>
  </div>
</div>




