<div class="section section-about-intro">
  <div class="overlay-light-blue"></div>
  <div class="row text-center row-section-title">
    <div class="small-12 columns">
      <h1>Privacy Policy</h1>
    </div>
  </div>
</div>

<div class="section section-docs section-page">
  <div class="row">
    <div class="columns small-12">
      <p>We at Butterfleye, Inc. (the <span>"Company,"</span> <span>"we,"</span> <span>"us,"</span> <span>"our"</span>) know that our users (<span>"you,"</span> <span>"your"</span>) care about how your personal information is used and shared, and we take your privacy seriously. Please read the following to learn more about our Privacy Policy.</p>
      <p>By visiting or using our website (the <span>“Site”</span>) and any other linked pages, features, content, products, mobile applications or services we offer from time to time by in connection therewith (collectively, the <span>"Services"</span>), you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you consent that we will collect, use and share your information in the manner described in this Privacy Policy.</p>
      <p>Capitalized terms not defined in this Privacy Policy will have the meaning set forth in our <%= link_to "Terms of Service", "/terms" %></p>


      <h4>What is the purpose of this Privacy Policy?</h4>
      <p>This Privacy Policy discloses our personal information gathering and dissemination practiceswith respect to the Site and our services. Please read this Privacy Policy carefully.</p>
      <h4>What information do we collect from users?</h4>
      <p>The following describes the types of personal and other information we may collect about you, and how we use and maintain that information:</p>
      <p><strong>Registration.</strong> Before you can pre-Order or Order any of our Products or use the Services that we offer on the Site or otherwise, you will be required to register with us and provide us with certain information, including your email address, a password, your first and last name and other contact information and personal details. We request this information for identification purposes, to communicate with you regarding your account, and to facilitate the functioning of our Services. If you wish to pre-Order or Order Products, you will need to provide us with certain additional information, such as debit card number, credit card number, expiration date, bank account information, billing address, activation codes and similar information.</p>
      <p><strong>Correspondence.</strong> If you correspond with us via email, we may gather in a file specific to you the

information that you submit.</p>
      <p><strong>URL and IP addresses. </strong></p>
      <p><strong>Registration.</strong>Like many other websites, we collect information about users’ use and

navigation of our Site and Services. This information helps us to design our Site and Services to

better suit our users’ needs. For example, our Site will track the URL that you visited before you

came to our Site, the URL to which you next go and your Internet Protocol (IP) address. We use

your IP address to help diagnose problems with our server and to administer our Site. Your IP

address also is used to help identify you and to gather broad demographic information.</p>
      <p><strong>Information Collected With Cookies. </strong>Like most websites, we use cookies on certain pages of our

Site. Cookies make using the Internet easier by, among other things, saving your preferences

for you. For example, a cookie lets the Site remember that you’ve registered, which allows us

to speed up your future activities at our Site, and which allows you to enter your registration

information less frequently while visiting our Site. We may also use cookies to deliver content

tailored to your interests. Our cookies may enable us to relate your use of our Site to personally

identifying information that you previously submitted, such as calling you by name when you

return to our Site. If your browser is set to reject cookies, or if your browser notifies you that

you are about to receive a cookie and you reject it, then your use of the Site may not be as

efficient or as enjoyable as it would be if the cookie were enabled. The information that we

collect with cookies allows us to improve our marketing and promotional efforts, to statistically

analyze Site usage, to improve our content and product offerings and to customize our Site’s

content, layout and services. However, we only use information collected with cookies on an

aggregated basis without the use of any information that personally identifies you.</p>
      <p><strong>Third Party Web Beacons. </strong>We may also implement third-party content or advertising on the

Site that may use clear gifs or other forms of web beacons, which allow the third-party content

provider to read and write cookies to your browser in connection with your viewing of the third

party content on the Site. Information collected through web beacons is collected directly by

these third parties, and we do not participate in that data transmission. Information collected by

a third party in this manner is subject to that third party’s own data collection, use and disclosure</p>
      <p><strong>Location Information. </strong>We may offer certain features as part of our Services in whole or in

part based on your location, such as to locate the mobile device on which you have installed or

downloaded an App. You will be given the opportunity to opt-in to location-based services,

normally through an opt-in screen on the App. If you choose to enable location-based services,

we may collect your location based on information provided by you or the mobile device,

including, if available, GPS, IP address or cell tower information. If you do not opt-in to or

choose to disable location-based services, you may not be able to utilize certain features of the

Service.</p>

<h4>How do we use the information that we collect?</h4>

<p>We use the information that we collect through the Site and Services to operate, maintain,

enhance and provide all features of the Service, to provide services and information that you

request, to respond to comments and questions and otherwise to provide support to users, and to

process and deliver entries and rewards in connection with promotions that may be offered from

time to time on the Service.</p>


<p>We use the information that we collect on the Service to understand and analyze the usage trends

and preferences of our users, to improve the Service, and to develop new products, services,

features and functionality.</p>

<p>We may use your email address or other information we collect on the Service (i) to contact

you for administrative purposes such as customer service, to address intellectual property

infringement, right of privacy violations or defamation issues related to your User Submitted

Content, or (ii) to send communications, including updates on promotions and events, relating to

products and services offered by us and by third parties.</p>
<p>We may use “cookies” and similar information to: (i) personalize our Services, such as

remembering your information so that you will not have to re-enter it during your visit or the

next time you visit the Site or use the Services, (ii) provide customized advertisements, content

and information, (iii) monitor and analyze the effectiveness of Service and third-party marketing

activities, (iv) monitor aggregate site usage metrics such as total number of visitors and pages

viewed, and (v) track your entries, submissions and status in any promotions or other activities

on the Service.</p>
<h4>When and how do we disclose information?</h4>
<p>We will not share, rent, sell or otherwise disclose any of the information that we collect about

you to third parties without your consent, except in the following situations:</p>
<ul>
  <li>
    We may disclose information that we collect about you to our third-party contractors who perform services for us in order to provide certain services or to complete or confirm a purchase or other transaction that you conduct with us.
  </li>
  <li>
    We may disclose the results of aggregated or otherwise non-personally identified data about you for marketing or promotional purposes (for instance, that a certain percentage of out Site’s users are living in the United States). In these situations, we do not disclose to these entities any information that could be used to personally identify you. Certain information, such as your password, is not disclosed to marketing advertisers at all, even in aggregate form.
  </li>
  <li>
    We may disclose information about you as part of a merger, acquisition or other sale

or transfer of its assets or business. We do not guarantee that any entity receiving such

information in connection with one of these transactions will comply with all terms of

this Privacy Policy.
  </li>
  <li>
    We may be legally obligated to disclose information about you to the government or

to third parties under certain circumstances, such as in connection with illegal activity

on our Site or to respond to a subpoena, court order or other legal process. We reserve

the right to release information that we collect to law enforcement or other government

officials, as we, in our sole and absolute discretion, deem necessary or appropriate.
  </li>
  <li>
    We also reserve the right to disclose your information that we believe, in good faith, is

appropriate or necessary to (i) take precautions against liability, (ii) protect ourselves

or others from fraudulent, abusive, or unlawful uses or activity, (iii) investigate and

defend ourselves against any third-party claims or allegations, (iv) protect the security

or integrity of the Service and any facilities or equipment used to make the Service

available, or (v) protect our property or other legal rights (including, but not limited to,

enforcement of our agreements), or the rights, property, or safety of others.
  </li>
</ul>

<p>If you use our Site or services outside of the United States, information that we collect about

you will be transferred to servers inside the United States, which may involve the transfer of

information out of countries located in the European Economic Area. Also, we may transfer

your data from the U.S. to other countries or regions in connection with storage and processing

of data, fulfilling your requests, and operating the Service. By allowing us to collect information

about you, you consent to such transfer and processing of your data.</p>

<h4>What choices do you have regarding use of your information?</h4>
<p>You may decline to share certain personal information with us, in which case we may not be

able to provide to you some of the features and functionality of the Service. You may update,

correct or delete your profile information and preferences at any time by accessing your account

preferences page on the Service.</p>

<p>You may opt out of receiving promotional emails from us by following the instructions in those

emails. If you opt out, we may still send you non-promotional emails, such as emails about

your accounts or our ongoing business relations. You may also send requests about your contact

preferences, changes to your information including requests to opt-out of sharing your personal

information with third parties to our contact information below.</p>

<p>If you visit our Site from a mobile device, we may collect information about your location and

your mobile device, including a unique identifier for your device. Most mobile devices allow

you to turn off location services. For more information about how to do this, please contact your

mobile service carrier or your device manufacturer.</p>
<h4>What security measures does the Site employ?</h4>
<p>To help protect the privacy of data you transmit through this Site, where personally identifiable

information is requested, we use technology designed to encrypt the information that you input

before it is sent to us. In addition, we take steps to protect the User Submitted Content and other

user data we collect against unauthorized access. However, you should keep in mind that this

Site and our Services are run on software, hardware and networks, any component of which may,

from time to time, require maintenance or experience problems or breaches of security beyond

our control. Please refer to our Terms of Service for more information regarding our security

measures.</p>
<p>Please also be aware that despite our best intentions and the guidelines outlined in this Privacy

Policy and our Terms of Service, no data transmission over the Internet or encryption method

can be guaranteed to be 100% secure.</p>
<h4>How can you correct or update information that we collect about you?</h4>
<p>You may correct or update information collected about you by managing your account profile or

by contacting us at the email or mailing address noted below. We will use reasonable efforts to

update our records. For our records, we may retain original and updated information for reasons

such as technical constraints, dispute resolution, troubleshooting and agreement enforcement.</p>

<p>You may correct or update information collected about you by managing your account profile or

by contacting us at the email or mailing address noted below. We will use reasonable efforts to

update our records. For our records, we may retain original and updated information for reasons

such as technical constraints, dispute resolution, troubleshooting and agreement enforcement.</p>
<h4>What are the policies of linked Sites and other third parties?</h4>
<p>This Privacy Policy only addresses the use and disclosure of information we collect from you.

You should be aware that when you are on the Site, you can be directed to other websites that

are beyond our control, and we are not responsible for the privacy practices of third parties or

the content of linked websites. We encourage you to read the posted privacy policy whenever

interacting with any website.</p>

<h4>How will I know about changes in the Privacy Policy?</h4>
<p>Butterfleye reserves the right to modify this Privacy Policy from time to time. Please visit this

page periodically so that you will be apprised of any changes. If we modify this Privacy Policy,

we will make it available through the Service and indicate the date of the latest revision. By

choosing to access this Site or use the Services, or otherwise provide information to us, after we

make any such changes to this Privacy Policy, you are deemed to have accepted such changes.</p>

<h4>What is our policy on children users of our Site?</h4>
<p>We do not knowingly collect or maintain personally identifiable information from persons under

18 years old, and no part of our Site is directed to persons under 18. IF YOU ARE UNDER 18

YEARS OF AGE, PLEASE DO NOT USE OR ACCESS OUR SITE AT ANY TIME OR IN

ANY MANNER. If we learn that personally identifiable information of persons less than 18

years old has been collected without verifiable parental consent, we will take the appropriate

steps to delete this information. If you are a parent or guardian and discover that your child

under the age of 18 has registered for an account, you may alert us at the address below and

request that we delete that child’s personal information from our systems.</p>

<h4>What are my California Privacy Rights?</h4>
<p>Pursuant to Section 1798.83 of the California Civil Code, residents of California have

the right to request from a business, with whom the California resident has an established

business relationship, certain information with respect to the types of personal information the

business shares with third parties for direct marketing purposes by such third party and the

identities of the third parties with whom the business has shared such information during the

immediately preceding calendar year. Under California law, if you are a California resident

with an established business relationship with us, you may choose to opt out the disclosure

of personal information about you to third parties for marketing purposes, by contacting us at <a href="mailto:info@butterfleye.co">info@butterfleye.co.</a></p>

<h4>Will my employer have access to information that we collect about you?</h4>

<p>If you access our Site as a representative of a third party, such as your employer, that party may

review and modify your personal information, ask us to delete your personal information, or

request that we cease collecting your personal information. If such a third party asks us to delete

your personal information or cease collecting your personal information, we may terminate your

right to access our Site.</p>


<h4>What law governs my use of the Site and the Services?</h4>
<p>By choosing to access this Site or use the Services, or otherwise provide information to us,

you agree that any dispute over privacy or the terms contained in this Privacy Policy will be

governed by the laws of the State of California. You also agree to abide by arbitration, limitation

of liability and indemnification terms and conditions contained in our Terms of Service or other

agreement that we have with you.</p>

<h4>How to contact us?</h4>

<p>If you have any questions about this Privacy Policy, or need to reach us for any other reason, you

may contact us by e-mail at <a href="mailto:info@butterfleye.co">info@butterfleye.co</a>.</p>







    </div>
  </div>
</div>
