<div class="section section-about-intro">
  <div class="overlay-light-blue"></div>
  <div class="row text-center row-section-title">
    <div class="small-12 columns">
      <h1>Terms of Service</h1>
    </div>
  </div>
</div>

<div class="section section-docs section-page">
<div class="row">
<div class="columns small-12">
<p>These Terms of Service comprise the agreement between Butterfleye, Inc., a Delaware corporation (the <span>“Company,”</span> <span>“we”</span> or <span>“us”</span>), and you or the entity you represent (collectively, “you”), governing your use of this website (the “Site”) and the Services (as defined below). In addition, you acknowledge and agree that you shall also be subject to any posted rules or guidelines that may be applicable to our Site and Services, which may contain terms and conditions in addition to those in these Terms of Service
</p>
<p>PLEASE READ THIS AGREEMENT CAREFULLY. BY ACCESSING THE SITE, PURCHASING OUR PRODUCTS, DOWNLOADING OUR APPS OR OTHERWISE USING OUR SERVICES, YOU AGREE TO ALL OF THE TERMS AND CONDITIONS OF THESE TERMS OF SERVICE AND ACKNOWLEDGE THAT THESE TERMS OF SERVICE CONSTITUTE A BINDING AND ENFORCEABLE AGREEMENT LIKE ANY WRITTEN CONTRACT SIGNED BY YOU. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THESE TERMS OF SERVICE, PLEASE DO NOT USE, OR CEASE USING, OUR SITE AND SERVICES. IF YOU ACCEPT OR AGREE TO THESE TERMS OF SERVICE ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT AND WARRANT THAT YOU HAVE THE AUTHORITY TO BIND THAT COMPANY OR OTHER LEGAL ENTITY TO THESE TERMS OF SERVICE.</p>
<p>We expressly reserve the right to modify these Terms of Service from time to time in our sole discretion without notice to you. You acknowledge and agree that it is your responsibility to review the Site and these Terms of Service from time to time and to familiarize yourself with any modifications. Your continued use of our Site or Services after such modifications will constitute your acknowledgement and acceptance of the modified Terms of Service and your agreement to abide and be bound by the modified Terms of Service.</p>
<h4>Description of Services</h4>
<p>We are the company behind the smart camera with “active eye intelligence” (the <span>“Product”</span>) that lets you see and hear what’s happening in your home when you are away. Our Product

automatically captures pictures and videos throughout the day and uploads them to our servers

in the cloud, where they can then be accessed via our mobile software applications (the <span>“Apps”</span>).

Our Site and all related products, mobile applications and services are collectively referred to as

the “Services.”</p>

<p>We may change, suspend or discontinue the Services at any time, including the availability of

any feature or content. We may also impose limits on certain features and services or restrict

your access to parts or all of the Site or Services without notice or liability. You may only

use the Site and Services for your own personal, non-commercial use and not for the use or

benefit of any third party and only in a manner that complies with all applicable laws, rules,

regulations, tax requirements, ordinances and permits and all union, trade group and trade

association requirements (“Applicable Laws”) that apply to you and in accordance with these

Terms of Service. You will be solely responsible if your use of the Site or Services violates any

Applicable Laws.</p>
<p>Any software embedded or incorporated in our Products is licensed to you and not sold.

Accordingly, subject to these Terms of Service, we grant you a limited, non-exclusive, non-
transferable, revocable license to use any such software solely in connection with your use of the

Products and Services.</p>
<p>The Site and Services are intended solely for persons who are 18 years of age or older, and any

access to or use of the Site or Services by anyone under the age of 18 is expressly prohibited. By

accessing or using the Site or Services, you represent and warrant that you are 18 years of age or

older.</p>
<h4>Account Information</h4>
<p>You may view publicly accessible information and email us as an unregistered visitor to our

Site. However, in order to pre-order or otherwise purchase our Products, download our Apps

or otherwise access our Services, you will be required to create an account, and your use of the

account shall at all times be governed by these Terms of Service. At the time of registration, we

will request that you provide your name and email address. In addition, before you can pre-order

or order Products, you will also need to provide us with a credit card number, as discussed more

fully below. You can edit this information at any time. Your account is at all times the property

of the Company, and we reserve the right to monitor the use of your account for any purpose.

We shall have sole discretion to disclose and share the information that you provide as part of

your account, as well as all communications and information that you submit to or through our

Site or in connection with our provision of Services, subject to the terms and conditions of our

<%= link_to "Privacy Policy", "/privacy" %></p>

<p>In creating and using your account, you agree to provide true, accurate, complete and current

information on any registration form required and maintain and promptly update the account

information to keep it true, accurate, current and complete. You also acknowledge and agree that

you may not have more than one active account. If you provide any account information that is

not, or we reasonably suspect is not, true, accurate, current and incomplete, or if you create more

than one active account, we may suspend or terminate your account and our Services and refuse

any and all current or future use by you of your account or our Site or Services.</p>

<h4>Content</h4>
<p>The pictures, videos, text, music, messages, information or other content or materials made

available through our Site or Services (the <span>“Content”</span>) is protected by copyright. Other than with

respect to your own User Submitted Content (defined below), you may not reproduce, republish,

upload, post, transmit, or distribute in any way Content from our Site or Services without the

written permission of the copyright owner. Modification of the Content or use of the Content

for any other purpose is a violation of the copyrights and other proprietary rights of us or other

persons or entities where so indicated.</p>

<p>Permission for all other uses of Content, including reproducing and distributing multiple copies,

or linking to any webpage on our Site except the “home page,” requires our advance consent.

The use of any such Content on any other website or networked computer environment is

prohibited. All design rights, databases, compilations and other intellectual property rights, in

each case whether registered or unregistered, and related goodwill are proprietary to the owner of

such Content.</p>

<p>The Services will enable you to upload, post and transmit pictures and videos to the Site and also

provide you with access to discussion forums, blogs and other interactive areas in which you or

other users may post or transmit pictures, videos, text, music, messages, information or other

content or materials (collectively, the <span>"User Submitted Content"</span>). You retain all intellectual

property rights in and to any User Submitted Content you post, upload or otherwise make

available through the Services. Certain of the User Submitted Content may be subject<%= link_to "Privacy Policy", "/privacy" %> to our </p>
<p>Notwithstanding the foregoing, by uploading and/or posting any User Submitted Content to the

Site or otherwise by using the Services, you grant us a perpetual, nonexclusive and royalty-free

right to use the User Submitted Content (and the user name that is submitted in connection with

such User Submitted Content) as is reasonably necessary in order to enable us to provide the

Services, including to display the User Submitted Content through the Services or to process the

sale of Products.</p>
<p>You represent and warrant that (i) you own or otherwise control all of the rights to the User

Submitted Content that you post or transmit, or you otherwise have the right to post, use, display,

distribute and reproduce such User Submitted Content and to grant the rights granted herein;

(ii) the User Submitted Content you supply is accurate and not misleading; and (iii) the use and

posting of the User Submitted Content you supply does not violate these Terms of Service and

will not violate any rights of or cause injury to any person or entity.</p>

<h4>Security</h4>
<p>We use certain encryption technologies and other reasonable precautions to protect the

privacy and security of your account and your User Submitted Content. However, you are

ultimately responsible for protecting such information from disclosure to third parties, and

you are not permitted to circumvent the use of any applicable encryption technologies or other

security measures. You agree not to allow anyone to have access to your account, to notify us

immediately of any unauthorized use of your account or account information or any other breach

of security.</p>
<p>Our camera communicates only with our servers and Apps and our servers communicate only

with our cameras and Apps. We have also set up our system so that all camera and cloud

software updates are installed automatically, which means you’ll always have the latest and

most secure software on your camera. We encrypt pictures and video on the camera so that

your pictures and video are secure even if you are on an open or insecure Wi-Fi network. Each

camera has its own private key and certificate used to authenticate with the server. We use

Amazon Web Services to store your pictures and video.</p>
<p>While we may implement reasonable precautions to protect your account data and other

confidential information, we do not and cannot guarantee or warrant that information transmitted

through the Internet and stored on servers is secure. You are always responsible for use of your

account by yourself and others, including those persons that gained unauthorized access to your

account through your acts and omissions.</p>
<p>You are prohibited from violating, or attempting to violate, the security of our Site or Services.

Any such violations may result in criminal and/or civil penalties against you. We will

investigate any alleged or suspected violations, and if a criminal violation is suspected, we will

cooperate with law enforcement agencies in their investigations.</p>
<h4>Pre-Orders and Orders</h4>
<p>You agree that we may immediately authorize and charge your credit card (or other approved

facility) for payment for any pre-orders and/or orders of Products made by you. If you have a

question about a transaction on your credit card statement, please use the “Contact Us” section

of the Site to contact us. At this time, pre-Orders and Orders (following commercial launch) can

only be shipped to the United States.</p>
<p>We may choose to use a third party payment processor for the purpose of processing your

payment for pre-orders and/or orders of Products, and you authorize us to do so. If we choose to

do so and you are directed to a third party payment processor, you understand and agree that you

will be subject to terms and conditions governing the use of that third party’s service and that

third party’s personal information collection practices. Please review such terms and conditions

and privacy policy before using such services. We may also use credit agencies for the purpose

of checking your credit, and you authorize us to provide such credit agencies with any credit card

and billing payment information that they might require.</p>
<p>We expect Pre-Orders to ship early 2015 (the <span>“Pre-Order Ship Date”</span>). In the event that the Pre-
Order Ship Date is delayed, we will notify you of the anticipated new Pre-Order Ship Date.

You may cancel any Pre-Order prior to the Pre-Order Ship Date and receive a refund, but after

the Pre-Order Ship Date, the Pre-Order becomes non-refundable. Products ordered following

full commercial launch of such Products will be subject to our standard cancellation and return

policy then in effect.</p>
<p>WITHOUT LIMITING ANY OTHER DISCLAIMERS CONTAINED HEREIN, YOU

UNDERSTAND THAT ALL PRE-ORDER PRODUCTS ARE CURRENTLY UNDER

DEVELOPMENT AND NUMEROUS TECHNICAL, FINANCIAL AND PRACTICAL

OBSTACLES MAY AFFECT THE FINAL SPECIFICATIONS AND FUNCTIONALITY

OF SUCH PRODUCTS, AS WELL AS OUR ABILITY TO DELIVER THEM TO YOU BY

THE PRE-SALE ORDER SHIP DATE OR AT ALL. WE MAKE NO WARRANTIES OR

REPRESENTATIONS, NOR WILL WE BE LIABLE OR RESPONSIBLE, WITH RESPECT

TO ANY OF THE FOREGOING.</p>
<h4>Taxes</h4>
<p>You acknowledge and agree that we may be required by applicable tax laws in certain

jurisdictions to collect and pay applicable sales, use, value added, goods and services,

withholding or other taxes, duties or charges (<span>“Taxes”</span>) in connection with the sale of Products

and other Services. In addition, we may be required by applicable tax laws to file certain forms

or other information for tax reporting purposes, and you agree to provide us with such forms

or other information. Because tax laws vary significantly by jurisdiction and locality, you

4

understand and agree that you are solely responsible for determining your own tax reporting

requirements in consultation with your tax advisors. You acknowledge and agree that you are

responsible for determining any Taxes to be collected or other obligations relating to Taxes with

respect to all purchases of our Products and use of our Services.</p>

<h4>Prohibited Activities</h4>

<p>In using our Site and Services, you must not (i) send or otherwise transmit to or through our

Site or Services any unlawful, infringing, harmful, harassing, defamatory, threatening, vulgar,

sexually explicit, hateful or otherwise objectionable material or terms of any kind, (ii) violate

any Applicable Laws, (iii) misrepresent your identity or affiliation in any way, (iv) take any

action that imposes or may impose (in our sole discretion) an unreasonable or disproportionately

large load on our technical infrastructure, (v) use automated means, including spiders, robots,

crawlers, data mining tools, or the like to download or scrape data from the Site, except for

Internet search engines (e.g., Google) and non-commercial public archives that comply with our

requirements, (vi) interfere with or attempt to interrupt the proper operation of the Site through

the use of any virus, device, information collection or transmission mechanism, software or

routine, or access or attempt to gain access to any data, files, or passwords related to the Site

through hacking, password or data mining, or any other means, or (vii) assist or permit any

persons to engage in any of the activities described above.</p>

<h4>Trademarks</h4>
<p>All trademarks, service marks, logos and trade names on our Site or Services, whether registered

or unregistered, are proprietary to us or to other persons or entities where so indicated. You may

not reproduce, download or otherwise use any such trademarks, service marks, logos or trade

names without the prior written consent of the owner thereof.</p>
<h4>Links to Other Websites</h4>
<p>For your convenience, our Site may contain links to other websites. If you use these links, you

will leave our Site. We are not responsible for the availability or content of these other websites

or for any viruses or other damaging elements encountered in linking to a third-party website,

whether or not we are affiliated with the owners of, or use the services of, such websites. In

addition, providing links to these websites should not be interpreted as endorsement or approval

by us of the organizations sponsoring such third-party websites or their products or services.</p>
<h4>Termination and Account Cancellation</h4>
<p>At any time, we may, in our discretion and without liability to you, with or without cause

or prior notice, terminate your access to our Site and Services and deactivate or cancel your

account. Upon any such termination, deactivation or cancellation, we will pay you within a

commercially reasonable time any amounts that we determine are properly owed to you, and you

will remain liable for all amounts due hereunder. You may cancel your account at any time by

sending an email to <a href="mailto:info@butterfleye.co">info@butterfleye.co</a>. Please note that, upon such termination, deactivation or

cancellation, we do not have an obligation to delete or return to you any Content you have posted

to our Site or Services.</p>

<h4>Jurisdictional Issues</h4>
<p>We make no representation that Content available through our Site or Services are appropriate

or available for use in jurisdictions outside of the United States. Those who choose to access

our Site or Services from other jurisdictions do so on their own initiative and are responsible for

compliance with local laws, if and to the extent local laws are applicable. Access to our Site or

Services from jurisdictions where the Content of our Site or Service are illegal or penalized is

prohibited.</p>

<h4>Disclaimers</h4>
<p>IF YOU CHOOSE TO USE OUR SITE OR SERVICES, YOU DO SO AT YOUR SOLE RISK.

OUR SITE AND SERVICES, AND ANY CONTENT IN CONNECTION THEREWITH,

ARE PROVIDED “AS IS” AND “AS AVAILABLE,” WITHOUT WARRANTY OF ANY

KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, WE

EXPLICITLY DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR

A PARTICULAR PURPOSE, QUIET ENJOYMENT OR NON-INFRINGEMENT AND ANY

WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. WE

MAKE NO WARRANTY REGARDING THE QUALITY OF OUR SITE OR SERVICES,

OR ANY CONTENT IN CONNECTION THEREWITH OR THAT THE FOREGOING

WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS OR WILL BE

AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. WE MAKE

NO WARRANTY REGARDING THE ACCURACY, TIMELINESS, TRUTHFULNESS,

COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH OUR

SITE OR SERVICES.</p>
<p>APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES

SO THE FOREGOING EXCLUSION MAY NOT APPLY TO YOU.</p>

<h4>Limitations of Liability</h4>

<p>UNDER NO CIRCUMSTANCES, WHETHER IN CONTRACT, TORT (INCLUDING

NEGLIGENCE) OR ANY OTHER LEGAL THEORY, SHALL WE BE LIABLE TO YOU

OR ANYONE ELSE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, SPECIAL,

EXEMPLARY, COMPENSATORY OR PUNITIVE DAMAGES ARISING OUT OF OR

IN CONNECTION WITH YOUR PURCHASE OF PRODUCTS OR YOUR ACCESS OR

USE OF (OR INABILITY TO ACCESS OR USE) THE SITE OR SERVICES, INCLUDING

WITHOUT LIMITATION DAMAGES RELATED TO LOST PROFITS, LOSS OF

DATA, LOSS OF GOODWILL, SERVICE INTERRUPTION, SYSTEM DAMAGE OR

FAILURE OR THE COST OF SUBSTITUTE PRODUCTS OR SERVICES, OR FOR ANY

DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS, EVEN

IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND

NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED

REMEDY.</p>

<p>YOU ACKNOWLEDGE AND AGREE THAT WE ARE ARE RELYING ON THE

LIMITATIONS OF LIABILITY STATED HEREIN IN PROVIDING OUR SITE AND

SERVICES TO YOU AND THAT THESE LIMITATIONS ARE AN ESSENTIAL BASIS OF

THE BARGAIN BETWEEN US.</p>

<p>APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OR LIMITATION OF

LIABILITIES SO THE FOREGOING EXCLUSION OR LIMITATION MAY NOT APPLY

TO YOU.</p>

<h4>Indemnity and Release</h4>

<p>To the extent permitted by applicable law, you agree to indemnify, defend and hold us and our

directors, employees, agents, affiliates, insurers and contractors harmless from and against any

liability, loss, injury, demand, action, cost, expense, or claim of any kind or character, including

but not limited to attorney’s fees, arising out of or in connection with (i) your access to or use

of (or inability to access or use) the Site and Services, (ii) your purchase of Products, (iii) your

violation of these Terms of Service, (iv) your User Submitted Content, and (v) your interaction

with other users of our Site and Services. We reserve the right, at your expense, to assume the

exclusive defense and control of any matter for which you are required to indemnify us, and you

agree to cooperate with our defense of these claims.</p>

<p>If you use our Site or Services to connect with and/or enter into a contract with another user of

our Site or Services, you hereby release and hold us harmless from any and all losses, damages,

rights, claims, and actions of any kind, including but not limited to personal injury or property

damage, either directly or indirectly related to or arising from your connecting or contracting

with such other user.</p>

<h4>Miscellaneous</h4>

<p>Any notices or other communications by you or us must be in writing and given via email to, as

applicable, your address stated in your account or our address stated on our Site. In addition, we

may provide notice to you by posting to our Site or via our Services. All such notices shall be

deemed to have been given when sent.</p>

<p>These Terms of Service shall be governed by the laws of California, except for its conflicts of

laws principles. All disputes, controversies or claims which arise out of or relate in any way to

these Terms of Service shall be finally resolved by arbitration held in San Jose, California and

conducted by a single arbitrator under the JAMS Streamlined Rules and in accordance with the

Consumer Arbitration Minimum Standards as may be amended from time to time. The arbitrator

will have no authority to award any damages that are excluded by these Term of Service. Any

award by the arbitrator may be enforced in any court having jurisdiction. Each party expressly

agrees that any other party may seek injunctive relief by a court pending an award in arbitration

and shall not, by doing so, be held to have infringed the powers of the arbitrator or breached its

agreement to arbitrate. In the event of any action to enforce the terms of these Terms of Service,

the prevailing party in such action shall be entitled to such party’s reasonable costs and expenses

of enforcement including, without limitation, reasonable attorneys’ fees. YOU UNDERSTAND

AND AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND THE COMPANY

ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A

CLASS ACTION.</p>


<p>You may not assign or delegate your rights or obligations under these Terms of Service, by

operation of law or otherwise, to any third party without our prior written consent. Subject to

the foregoing, these Terms of Service will be binding upon and inure to the benefit of the parties

hereto and their respective successors, permitted assigns and legal representatives.</p>

<p>Our failure to enforce at any time a provision of these Terms of Service or our other rights herein

will not be considered to be a present or future waiver of such provision or right and will not in

any way affect our ability to enforce each and every such provision and right thereafter. If any

provision of these Terms of Service is held invalid or unenforceable at law, such provision will

be deemed stricken from these Terms of Service and the remaining provisions of these Terms

of Service will continue in effect and be valid and enforceable to the fullest extent permitted by

law.</p>


<p>These Terms of Service represent the entire agreement between the parties concerning

the subject matter hereof and supersede any and all prior understandings, agreements or

representations by or among the parties, whether written or oral, which may relate to the subject

matter hereof.</p>

<h4>Effective: May 21, 2014</h4>



</div>
</div>
</div>
