<div class="section section-footer">
  <div class="full-width-row row-footer">
    <div class="small-12 medium-4 large-3 columns">
      © Butterfleye Inc.
    </div>

    <div class="small-12 medium-8 large-9 columns">
      <div class="footer-links">
        <div class="footer-link">
          <%= link_to "FAQ", "/faq" %>
        </div>
        <div class="footer-link">
          <%= link_to "About", "/about" %>
        </div>
        <div class="footer-link">
          <%= link_to "Terms of Service", "/terms" %>
        </div>
        <div class="footer-link">
          <%= link_to "Privacy Policy", "/privacy" %>
        </div>
      </div>
    </div>
  </div>
</div>
