<div class="fixed">
  <nav class="top-bar" data-topbar>
    <div class="title-area">
      <a href="/">
        <div class="name topbar-logo">
        </div>
      </a>
    </div>

    <section class="top-bar-section">
      <div class="right">
<a href="#" data-celery="<%= AppConfig.celery_product_code %>" class="large radius header-button button">Preorder Now</a>
      </div>
    </section>
  </nav>
</div>

